@import "tailwindcss";

@theme {
  --color-cream: #faf2da;
  --color-light-green: #8e9775;
  --color-dark-green: #4a503d;
  --color-pink: #e28f83;
  --color-light-cream: #fefcf8;
  --color-gray: #a1a4b2;
  --color-light-gray: #adb8d9;
}
